* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3em;
    height: 100vh;
    .column-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .row-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}